@(user: User)

@main("user") {

<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li class="current"><a href="#">Home</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-8 columns">

        <fieldset>
            <legend>User Dashboard</legend>

            <ul class="list">
                TODO: implement a list of job postings
            </ul>

            <ul class="list">
                TODO: implement a list of job applications
            </ul>

        </fieldset>
    </div>
    <div class="large-4 columns">
        <h6>Your Profile</h6>
        <div class="progress large-6 success round"><span class="meter" style="width: 40%"></span></div>
        <ul class="side-nav">
            <li><a href="/userprofile">Enhance your profile</a></li>
            <li><i>Search job postings</i></li>
            <li><i>View your restaurant profile</i></li>
            <li><i>Apply to represent your restaurant</i></li>
            <li><i>Invite your colleagues</i></li>
        </ul>
    </div>
</div>

}